p Szanowni Państwo,
p w załączeniu przekazuję złożoną przez Państwa kartę kwalifikacyjną uczestnika wypoczynku. Oryginał karty kwalifikacyjnej wraz z podpisem rodzica musi zostać złożony na Biuro Obsługi Klienta Urzędu Miasta Sulejówek, 05-070 Sulejówek ul. Dworcowa 55, w nieprzekraczalnym terminie do 15 czerwca 2019 r. Elektroniczne zgłoszenie podlega teraz weryfikacji według kolejności jego wysłania. W kolejnej wiadomości e-mail otrzymacie Państwo potwierdzenie przyjęcia dziecka na wypoczynek lub informację o przyjęciu na listę rezerwową lub w przypadku nie spełnienia warunków udziału w wypoczynku informację o odrzuceniu złożonej karty kwalifikacyjnej. Osoby zakwalifikowane otrzymają również wzory dodatkowych dokumentów do wypełnienia, które są niezbędne do wzięcia udziału w wypoczynku.
p Pozdrawiam serdecznie,
p Anna Rosa - Kierownik wypoczynku, Urząd Miasta Sulejówek, 05-070 Sulejówek ul. Dworcowa 55
