h1 Na podany w karcie kwalifikacyjnej adres e-mail zostało przesłane potwierdzenie zgłoszenia dziecka na wypoczynek wraz z dalszą instrukcją postępowania. Pamiętaj: oryginał karty kwalifikacyjnej wraz z podpisem rodzica musi zostać złożony do Urzędu Miasta Sulejówek w nieprzekraczalnym terminie do 15 czerwca 2018 r.
